<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 6!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        <table border="2">
            <tr>
                <td>UserName</td>
                <td>FirstName</td>
                <td>LastName</td>
                <td>E-Mail</td>
                <td>Operation</td>
            </tr>
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td><a (click)="deleteUser(user.id)" class="text-danger">Delete</a></td>
            </tr>
        </table>
    </li>
</ul>
<p><a [routerLink]="['/login']">Logout</a></p>
